<%!
  from django.utils.translation import ugettext as _
%>

<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">Cours francophone en ligne | Politique de confidentialité</%block>

<%block name="css">
  <%include file="../css-bootstrap.html" />
  ##<style type="text/css"></style>
</%block>


<%block name="content">
  <%include file="../navigation-bootstrap.html" />

  <div class="container" id="accueil">
    <h1><strong>INARES</strong> <span class="text-muted-feat">Apprendre les sciences</span></h1>
    <p class="lead text-justify">Cours en ligne de l'<b>In</b>stitut <b>Ar</b>istotélicien d'<b>É</b>tudes <b>S</b>cientifiques.</p>
    <p class="lead text-justify">Aristote a changé durablement l’approche des sciences avec une méthode réaliste basée sur l’observation. C'est cette démarche scientifique qui fait la force de notre enseignement.</p>
    <br />
    <br />
  </div><!-- /container -->


  <div class="featurette-violet" id="presentation">
    <div class="container">
      <div class="featurette-text">
        <p class="featurette-heading"><span class="fa fa-file-text-o"></span> Politique de confidentialité</p>
        <br>

        <p class="lead text-justify">
          Bienvenue à l'INARES ! L'<b>In</b>stitut <b>Ar</b>istotélicien d'<b>É</b>tudes <b>S</b>cientifiques (« INARES ») est une association à but non lucratif dont la mission est de proposer des cours en ligne dans les sciences, en suivant la méthodologie d'Aristote.
        </p>

        <h2>Confidentialité et sécurité des informations personnelles</h2>

        <p class="text-justify">Nous nous soucions de la confidentialité et de la sécurité de vos informations personnelles. Nous déploierons tous les efforts raisonnables pour les protéger (le terme « Données Personnelles » est défini ci-dessous). Toutefois, aucune méthode de transmission ou de stockage de données numériques n'est jamais complètement sécurisée, et nous ne pouvons donc pas garantir la sécurité de l'information transmise ou stockée sur le site <a href="https://www.inares.org/" target="_blank">www.inares.org</a>.</p>

        <p class="text-justify">Tels qu'utilisés dans la présente « Politique de confidentialité », « nous » et « notre » réfèrent à l'INARES.</p>

        <p class="text-justify">Notre politique de confidentialité s'applique uniquement aux informations collectées par le site web <a href="https://www.inares.org/" target="_blank">www.inares.org</a>, c’est à dire à tous les contenus et aux pages présentes dans le domaine inares.org et dans ses sous-domaines. Elle ne s'applique pas aux informations que nous pouvons recueillir de votre part par d'autres moyens, par exemple à celles que vous nous fournissez par téléphone, par fax ou par courrier conventionnel. En outre, veuillez noter que vos données personnelles sont protégées par les règles du droit français.</p>

        <p class="text-justify">En accédant ou en vous inscrivant sur ce site, vous consentez et acceptez le fait que les informations collectées vous concernant puissent être utilisées et divulguées conformément à notre Politique de Confidentialité et nos Conditions Générales d'Utilisation. Comme la loi peut l'exiger ou le permettre, ces informations peuvent être transférées, traitées et stockées en France. Si vous n'acceptez pas ces termes, alors nous vous invitons à ne pas accéder, naviguer ou vous inscrire sur ce site. Si vous choisissez de ne pas nous fournir certaines informations nécessaires pour vous offrir nos services, vous ne pourrez pas ouvrir un compte utilisateur.</p>

        <p class="text-justify">Tel qu'utilisé dans la présente « Politique de Confidentialité », « Données Personnelles » désigne toute information vous concernant que vous nous fournissez lors de l'utilisation du site, par exemple lorsque vous créez un compte utilisateur, ce qui peut inclure mais n'est pas limité aux nom, coordonnées, sexe, date de naissance et profession.</p>


        <h2>Données personnelles</h2>

        <p class="text-justify">Les données personnelles vous concernant et collectées par le site <a href="https://www.inares.org/" target="_blank">www.inares.org</a> vous appartiennent. Ces données sont protégées et non diffusées conformément à la loi française.</p>

        <p class="text-justify">Ces données sont utilisées pour assurer la délivrance des services offerts par le site : délivrance de certificats, échanges de pairs à pairs, échanges entre l’équipe pédagogique et les apprenants, envoi d’informations de manière proactive, etc. Nous nous engageons à ce que ces données ne soient pas diffusées à des tiers ni commercialisées sans votre accord explicite.</p>

        <p class="text-justify">Elles peuvent également être utilisées pour vous envoyer des mises à jour sur les cours en ligne offerts par l'INARES ou pour d'autres événements, pour communiquer sur les produits ou les services du site ou affiliés, ou pour vous envoyer des messages électroniques à propos de la maintenance du site ou des mises à jour.</p>

        <p class="text-justify">Nous pouvons partager l'information recueillie, y compris les renseignements personnels, avec des tierces parties, comme suit :</p>
        <ul>
          <li>Avec les fournisseurs de services ou entrepreneurs qui effectuent certaines tâches en notre nom ou au nom des établissements. Ceci comprend les informations que vous nous faites parvenir ainsi que toute transaction au travers de l’exploitation de ce site.</li>
          <li>Avec les autres visiteurs du site, dans la mesure où vous soumettez des commentaires, des devoirs ou toute autre information ou du contenu (globalement les « Offres ») à une zone du site conçue pour les communications avec le public et avec d'autres membres d'un cours de l'INARES à laquelle vous participez. Nous pouvons proposer vos contributions aux étudiants qui s'inscriraient plus tard dans les mêmes cours, dans le cadre de forums, de didacticiels ou autrement. Si vous nous soumettez vos contributions dans des parties non publiques, nous les publierons anonymement, sauf avec votre permission explicite, mais nous pouvons utiliser votre nom d'utilisateur pour les afficher à l’intention des autres membres de votre cours.</li>
          <li>Afin de répondre aux citations à comparaître, ordonnances de tribunal ou une autre procédure judiciaire ; en réponse à une demande de coopération de la police ou un autre organisme gouvernemental, en cas d'enquête, pour prévenir ou prendre des mesures concernant des activités illégales, fraude, aux fins de sécurité ou contre des techniques à enjeux suspects, ou pour appliquer nos conditions d'utilisation, la charte utilisateur ou cette politique de confidentialité, tel qu'il peut être requis par la loi ou pour protéger nos droits, notre propriété ou la sécurité ou celles des autres.</li>
          <li>Pour vous permettre de communiquer avec d’autres utilisateurs qui pourraient avoir des intérêts ou des objectifs éducatifs similaires aux vôtres. Par exemple, nous pouvons vous recommander des partenaires pour une étude spécifique ou mettre en relation des étudiants potentiels avec des enseignants. Dans de tels cas, nous pouvons utiliser les informations collectées à votre sujet afin de déterminer qui pourrait être intéressé à communiquer avec vous, mais nous ne fournirons pas votre nom à d'autres utilisateurs, et ne divulgueront pas votre vrai nom ou adresse e-mail à votre contact.</li>
          <li>Pour l'intégration de services tiers. Par exemple, les vidéos et autres contenus peuvent être hébergés sur YouTube ou d'autres sites non contrôlés par l'INARES.</li>
          <li>En outre, nous pouvons partager des informations qui ne vous identifient pas personnellement, avec le public et avec des tiers, y compris, par exemple, des chercheurs et des partenaires.</li>
        </ul>

        <h2>Données d’usage</h2>

        <p class="text-justify">Les données d’usage sont les données collectées par le site <a href="https://www.inares.org/" target="_blank">www.inares.org</a> et concernent les usages des services du site. Il s’agit de données brutes, totalement anonymisées, utilisées pour produire des statistiques sur l’utilisation des services du site, et dont l’analyse permet d’améliorer les services et les fonctionnalités du site.</p>

        <p class="text-justify">Nous collectons des informations lorsque vous vous créez un compte d'utilisateur, participez à des cours en ligne, envoyez des messages courriel et / ou participez à nos forums. Nous recueillons des informations sur les performances et les modes d'apprentissage des élèves. Nous enregistrons des informations indiquant, entre autres, les pages de notre site ayant été visitées, l'ordre dans lequel elles ont été visitées, quand elles ont été visitées et quels sont les liens et autres contrôles de l'interface utilisateur qui ont été utilisés.</p>

        <p class="text-justify">Nous pouvons enregistrer l'adresse IP, le système d'exploitation et le navigateur utilisé par chaque utilisateur du site. Divers outils sont utilisés pour recueillir ces informations.</p>

        <p class="text-justify">Les donnés d’usage peuvent être utilisées :</p>
        <ul>
          <li>Pour proposer, administrer et améliorer les cours.</li>
          <li>Pour nous aider à améliorer l'offre de l'INARES, de manière individuelle (par exemple au travers de l'équipe pédagogique travaillant avec un étudiant) et de manière globale pour personnaliser l'expérience et évaluer l'accessibilité et l'impact du site <a href="https://www.inares.org/" target="_blank">www.inares.org</a> dans la communauté éducative internationale.</li>
          <li>À des fins de recherche scientifique, en particulier dans les domaines des sciences cognitives et de l'éducation.</li>
          <li>Pour suivre la fréquentation, à la fois individuelle et globale, la progression et l'achèvement d'un cours en ligne et pour analyser les statistiques sur la performance des élèves et la façon dont ils apprennent.</li>
          <li>Pour détecter des violations de la charte utilisateur, la manière d’utiliser le site ainsi que des utilisations frauduleuses ou l'étant potentiellement.</li>
          <li>Pour publier des informations, mais pas des données personnelles, recueillies par l'INARES sur les accès, l'utilisation, l'impact et la performance des élèves.</li>
          <li>Pour archiver ces informations et / ou les utiliser pour des communications futures avec vous.</li>
          <li>Afin de maintenir et d'améliorer le fonctionnement et la sécurité du site et de nos logiciels, systèmes et réseaux.</li>
        </ul>

        <h2>Utilisations de Cookies</h2>

        <p class="text-justify">Certaines informations sont collectées au moyen de cookies (de petits fichiers texte placés sur votre ordinateur qui stockent des informations vous concernant et qui peuvent être consultés par le site).</p>

        <p class="text-justify">De manière générale, le cookie enregistre des informations relatives à la navigation de votre ordinateur sur notre site (les pages que vous avez consultées, la date et l’heure de la consultation, etc.) que nous pourrons lire lors de vos visites ultérieures. En l’espèce, il contient les informations que vous avez fournies. Ainsi, vous n’aurez pas besoin, lors de votre prochaine visite de remplir à nouveau le formulaire que nous vous avons proposé.</p>

        <p class="text-justify">Nous vous informons que vous pouvez vous opposer à l’enregistrement de cookies en configurant votre navigateur (dans le menu « outil options » de Mozilla Firefox ou de Microsoft Explorer). La plupart des navigateurs fournissent les instructions pour les refuser dans la section « Aide » de la barre d'outils. Le paramétrage du logiciel de navigation permet d'informer de la présence de cookie(s) et éventuellement de la refuser de la manière décrite à l'adresse suivante : <a href="http://www.cnil.fr/" target="_blank">www.cnil.fr</a>. Si vous refusez nos cookies, des fonctions et fonctionnalités de ce site pourraient ne pas fonctionner correctement.</p>

        <p class="text-justify">Vous disposez d'un droit d'accès, de retrait et de modification des données personnelles communiquées par le biais des cookies. Il vous suffit pour cela d'adresser à l'INARES un courrier électronique via l'adresse ${'<a href="mailto:{email}">{email}</a>'.format(email=settings.CONTACT_EMAIL)}.</p>

        <h2>Liens externes</h2>

        <p class="text-justify">Le site <a href="https://www.inares.org/" target="_blank">www.inares.org</a> peut donner accès à des liens vers d'autres sites publiés par d'autres fournisseurs de contenu. Ces autres sites ne sont pas sous notre contrôle, et vous reconnaissez et acceptez que nous ne sommes pas responsables de la collecte et de l'utilisation de vos informations par ces sites. Nous vous encourageons à lire les politiques de confidentialité de chaque site que vous visitez et utilisez.</p>

        <h2>Noms d'utilisateurs et messages</h2>

        <p class="text-justify">Les commentaires et autres informations que vous publiez dans nos forums, wikis ou d'autres zones du site conçus pour les communications publiques, peuvent être consultées et téléchargées par d'autres visiteurs du site. Pour cette raison, nous vous encourageons à faire preuve de discrétion avant de publier toute information qui pourrait être utilisée pour vous identifier sur ces forums ou d’autres endroits publics ou réservés à un cours.</p>

        <h2>Hébergement, stockage et sécurité</h2>

        <p class="text-justify">L'INARES assure l'administration des serveurs, qui sont hébergés par la société OVH. L'accès au data center, aux infrastructures du système d'information et aux serveurs est sécurisé selon les règles de l'art. Seules les personnes dûment habilitées peuvent y avoir accès. Celles-ci s’engagent à respecter la confidentialité des données.</p>

        ##<p class="text-justify">Un archivage des données est mis en place à intervalles réguliers dans le respect de la politique de confidentialité. À l’issue de la durée légale de la conservation des données, ces dernières sont purgées conformément à la déclaration CNIL.</p>

        <p class="text-justify">Les registres informatisés conservés dans les systèmes dans le respect des règles de l’art en matière de sécurité, seront considérés comme preuves des communications de courriers électroniques, envois de formulaire d’inscription, téléchargements de contenus, publications de contenus et postages de commentaires. L’archivage des formulaires d’inscription est effectué sur un support de nature à assurer le caractère fidèle et durable requis par les dispositions légales en vigueur. Il est convenu qu’en cas de divergence entre les registres informatisés de l'INARES et les documents au format papier ou électronique dont dispose l’utilisateur, les registres informatisés de l'INARES feront foi.</p>

        <p class="text-justify">Par ailleurs, vous reconnaissez être parfaitement informé qu’en l’état de la technique, il est strictement impossible pour l'INARES de garantir l’absence d’intrusion dans le site et en particulier de garantir l’absence de destructions et/ou modification et notamment d’altération malveillante ou non par un autre utilisateur ou toute autre personne des commentaires d’un utilisateur, notamment par virus, vers ou autre code ou instruction affectant le site et/ou tout commentaire.</p>

        <h2>Changement de notre Politique de Confidentialité</h2>

        <p class="text-justify">Nous sommes susceptibles de revoir et d’apporter des modifications à cette « Politique de Confidentialité » tout en préservant ses engagements de qualité éthique. Toute modification entre en vigueur dès son affichage sur cette page avec une date d'effet mise à jour. En accédant à ce site après que des modifications aient été apportées, vous signifiez votre accord sur une base prospective de la politique de confidentialité modifiée et de ses changements. Assurez-vous de revenir à cette page périodiquement afin de vous familiariser avec la version la plus récente de cette « Politique de Confidentialité ».</p>

        <h2>Droit d’accès, de rectification des données à caractère personnel</h2>

        ##<p class="text-justify">Conformément à la loi n°78-17 du 6 janvier 1978 modifiée, le traitement de vos données personnelles fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL).</p>

        <p class="text-justify">Vous disposez d'un droit d'accès, de retrait et de modification des données personnelles communiquées par le biais des cookies. Il vous suffit pour cela d'adresser à l'INARES un courrier électronique via l'adresse ${'<a href="mailto:{email}">{email}</a>'.format(email=settings.CONTACT_EMAIL)}. Nous nous efforçons de répondre à ces requêtes dans des délais raisonnables.</p>

        <p class="text-justify">Pour toute question relative à la politique de confidentialité, veuillez nous adresser un mail à l'adresse ${'<a href="mailto:{email}">{email}</a>'.format(email=settings.CONTACT_EMAIL)}.</p>

        <p><em>Dernière mise à jour : 21 mai 2015.</em></p>
        <br>
      </div> <!-- /media-body -->
    </div> <!-- /media -->
  </div> <!-- /featurette-violet -->

  <%include file="../footer-bootstrap.html" />
</%block>



<%block name="js">
</%block>

<%block name="js_extra">
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
