<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">Cours francophone en ligne | Contact</%block>

<%block name="css">
  <%include file="../css-bootstrap.html" />
  ##<style type="text/css"></style>
</%block>


<%block name="content">
  <%include file="../navigation-bootstrap.html" />

  <div class="container" id="accueil">
    <h1><strong>INARES</strong> <span class="text-muted-feat">Apprendre les sciences</span></h1>
    <p class="lead text-justify">Cours en ligne de l'<b>In</b>stitut <b>Ar</b>istotélicien d'<b>É</b>tudes <b>S</b>cientifiques.</p>
    <p class="lead text-justify">Aristote a changé durablement l’approche des sciences avec une méthode réaliste basée sur l’observation. C'est cette démarche scientifique qui fait la force de notre enseignement.</p>
    <br />
    <br />
  </div><!-- /container -->

  <div class="featurette-violet" id="presentation">
    <div class="media container">
      <div class="media-left media-middle">
        <img class="media-object img-circle" src="${static.url('themes/{name}/images/logo-inares.jpg'.format(name=settings.THEME_NAME))}" alt="...">
      </div> <!-- /media-left -->
      <div class="media-body media-middle featurette-text">
        <p class="featurette-heading"><span class="fa fa-envelope-o"></span> Contact</p>
        <br>
        <p class="lead text-justify">
          L'INARES est une association loi 1901 fondée en octobre 2014.
        </p>
        <p class="lead text-justify">
          Nous cherchons toujours à améliorer nos cours et notre site. N'hésitez pas à nous envoyer vos remarques et suggestions. Si vous êtes un étudiant inscrit et avez des questions, des commentaires ou des suggestions spécifiques à un cours, merci de poster un nouveau message sur la discussion du cours.
        </p>
        <p class="lead">
          Pour nous contacter, vous pouvez utiliser cette adresse mail : ${'<a href="mailto:{email}">{email}</a>'.format(email=settings.CONTACT_EMAIL)}
        </p>
      </div> <!-- /media-body -->
    </div> <!-- /media -->
  </div> <!-- /featurette-violet -->

  <%include file="../footer-bootstrap.html" />

  <script type="text/javascript">
    $('#link-mooc').tooltip();
  </script>
</%block>



<%block name="js">
</%block>

<%block name="js_extra">
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
