<%!
  from django.utils.translation import ugettext as _
%>

<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">Cours francophone en ligne | Charte utilisateurs</%block>

<%block name="css">
  <%include file="../css-bootstrap.html" />
  ##<style type="text/css"></style>
</%block>


<%block name="content">
  <%include file="../navigation-bootstrap.html" />

  <div class="container" id="accueil">
    <h1><strong>INARES</strong> <span class="text-muted-feat">Apprendre les sciences</span></h1>
    <p class="lead text-justify">Cours en ligne de l'<b>In</b>stitut <b>Ar</b>istotélicien d'<b>É</b>tudes <b>S</b>cientifiques.</p>
    <p class="lead text-justify">Aristote a changé durablement l’approche des sciences avec une méthode réaliste basée sur l’observation. C'est cette démarche scientifique qui fait la force de notre enseignement.</p>
    <br />
    <br />
  </div><!-- /container -->


  <div class="featurette-violet" id="presentation">
    <div class="media container">
      <div class="media-body media-middle featurette-text">
        <p class="featurette-heading"><span class="fa fa-file-text-o"></span> Charte utilisateurs</p>
        <br>

        <h2>Préambule</h2>

        <p class="lead text-justify">
          Bienvenue à l'INARES ! L'<b>In</b>stitut <b>Ar</b>istotélicien d'<b>É</b>tudes <b>S</b>cientifiques (« INARES ») est une association à but non lucratif dont la mission est de proposer des cours en ligne dans les sciences en suivant la méthodologie d'Aristote.
        </p>

        <p class="text-justify">Tout utilisateur souhaitant accéder au site de l'INARES doit donc avoir préalablement consulté la présente Charte Utilisateurs ainsi que les Conditions Générales d’Utilisation et la Politique de Confidentialité qui décrivent les conditions dans lesquelles l'INARES donne accès à ses services. </p>

        <p class="text-justify">En s’inscrivant sur le site de l'INARES, l’utilisateur est réputé avoir accepté, sans restriction ni réserve, les Conditions Générales d’Utilisation, la Charte Utilisateurs et la Politique de Confidentialité.</p>

        <h2>Recommandations aux utilisateurs</h2>

        <p class="text-justify">Sauf contre-indication de l'enseignant du cours, vous êtes encouragés à :</p>
        <ul>
          <li>Participer à l’ensemble des activités d’un cours : lecture des vidéos, exercices, devoirs et travaux pratiques</li>
          <li>Discuter avec les autres apprenants des concepts généraux et des ressources de chaque cours en utilisant les outils collaboratifs mis à disposition</li>
          <li>Proposer des idées et éventuellement proposer les documents que vous pourrez élaborer, aux autres apprenants à des fins de commentaires</li>
          <li>S’assurer que le nom d’utilisateur choisi est bien celui auquel l’attestation devra être délivrée (*)</li>
        </ul>

        <h2>Engagements des utilisateurs</h2>

        <p class="text-justify">En complément des règles de conduite précisées dans les Conditions Générales d’Utilisation, l’utilisateur s’engage à :</p>
        <ul>
          <li>Ne pas tricher pour améliorer ses résultats</li>
          <li>Ne pas améliorer ou dégrader les résultats des autres</li>
          <li>Ne pas publier les réponses aux exercices pris en compte dans l’évaluation finale des étudiants</li>
          <li>Respecter les droits de propriété intellectuelle accordés par la licence d’utilisation attachée à chaque formation en ligne (cf. conditions d’utilisation précisées au moment de l’inscription à la formation)</li>
          <li>Donner accès à l’équipe enseignante à ses données personnelles collectées dans la plateforme pour les besoins du cours suivi</li>
        </ul>

        <p class="text-justify">(*) A noter : une fois les attestations éditées, il n’y aura plus possibilité de modifier le nom d’utilisateur sur le document.</p>

        <p><em>Dernière mise à jour : 20 mai 2015.</em></p>
        <br>
      </div> <!-- /media-body -->
      <div class="media-left media-middle">
        <img class="media-object img-circle" src="${static.url('themes/{name}/images/logo-inares.jpg'.format(name=settings.THEME_NAME))}" alt="...">
      </div> <!-- /media-left -->
    </div> <!-- /media -->
  </div> <!-- /featurette-violet -->

  <%include file="../footer-bootstrap.html" />

  <script type="text/javascript">
    $('#link-mooc').tooltip();
  </script>
</%block>



<%block name="js">
</%block>

<%block name="js_extra">
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
