<%namespace name='static' file='static_content.html'/>
<%!
  ##from django.core.urlresolvers import reverse
  ##from branding import api as branding_api
  from django.utils.translation import ugettext as _
  from django.utils             import html
  from microsite_configuration  import microsite
  from django.utils.translation import get_language_bidi
  from django.utils.http        import urlquote_plus

  dir_rtl = 'rtl' if get_language_bidi() else 'ltr'
%>

<!DOCTYPE html>
  <head>
    <title>V1 | Test</title>


  </head>


  <body class="">
    Test
  </body>
</html>
