<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from django.conf import settings
  from edxmako.shortcuts import marketing_link
  from microsite_configuration import microsite

  # if settings.FEATURES.get('ENABLE_SHOPPING_CART'):
  #     cart_link = reverse('shoppingcart.views.show_cart')
  # else:
  #     cart_link = ""
%>

<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${get_course_about_section(course, 'title')}" />
  <meta property="og:description" content="${get_course_about_section(course, 'short_description')}" />
</%block>

<%block name="css">
  <%include file="../css-bootstrap.html" />

  <style type="text/css">
    .course-image { margin-left: 2%;  margin-bottom: 2%;  width: 96%; }
    .featurette-violet.border { border: 0px solid #222222;  border-radius: 5px 5px 5px 5px;  -moz-border-radius: 5px 5px 5px 5px;  -webkit-border-radius: 5px 5px 5px 5px; }
    .featurette-violet a { color: #BF8A2E; }
    .course-image.border      { border: 2px solid #222222;  border-radius: 5px 5px 5px 5px;  -moz-border-radius: 5px 5px 5px 5px;  -webkit-border-radius: 5px 5px 5px 5px;  -webkit-box-shadow: 5px 5px 5px 0px rgba(34,34,34,0.75);  -moz-box-shadow: 5px 5px 5px 0px rgba(34,34,34,0.75);  box-shadow: 5px 5px 5px 0px rgba(34,34,34,0.75); }
    .course-overview { padding: 1%; max-width: 800px; margin-right: auto;  margin-left: auto; }
    .teacher:after{ content:""; display:table; clear:both; }
    .teacher-image{ background: #fff; border: 1px solid #d9d9d9; /*height: 115px;*/ float: left; margin :0 15px 0px 0; overflow: hidden; padding: 1px; /*width: 115px;*/ }
    section{ margin-bottom: 40px; }

    @media(min-width: 1000px) {
      .course-head { /*padding: 2px;*/  overflow: hidden;  max-width:900px; }
      .course-heading { font-size: 50px;  font-weight: 600;  line-height: 1.1;  letter-spacing: -1px;  margin: 2% 0%; }
      .course-image { }
    }

    @media(max-width: 999px) {
      .course-head { /*padding: 2%;*/ overflow: hidden; }
      .course-heading { font-size: 40px;  font-weight: 600;  line-height: 1;  letter-spacing: -1px;  margin: 2% 0%; }
      .course-image { margin-right: auto;  margin-left: auto; }
    }
  </style>
</%block>



<%block name="js_extra">
</%block>


<%block name="pagetitle">${get_course_about_section(course, "title")}</%block>



<%block name="content">
	<%include file="../navigation-bootstrap.html" />

  <div class="container">
    <div class="course-head featurette-violet border">
			<img src="${course_image_url(course)}" class="pull-left-me course-image border img-responsive" /><br />
      <div class="course-heading">${get_course_about_section(course, "title")}</div>
			<div class="lead">${get_course_about_section(course, 'short_description')}</div>
      <div class="lead">
        %if user.is_authenticated() and registered:
          %if show_courseware_link:
            <a href="${course_target}">
          %endif

          <span class="register disabled">${_("You are registered for this course")}.</span>

          %if show_courseware_link:
            <strong> ${_("View Courseware")}</strong>
            </a>
          %endif
        % elif is_course_full:
          <span class="register disabled">
            ${_("Course is full")}
          </span>
        % elif invitation_only and not can_enroll:
          <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
        ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
        ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
        ## so that they can register and become a real user that can enroll.
        % elif not is_shib_course and not can_enroll:
          <span class="register disabled">${_("Enrollment is Closed")}</span>
        %else:
          <a href="#" class="register" id="register">S'inscrire au cours</a>
        	<div id="register_error"></div>
        %endif
      </div>

      % if staff_access and studio_url is not None:
      <div class="">
        <a href="${studio_url}">Voir le cours dans Studio.</a>
      </div>
      % endif

      % if not course.start_date_is_still_default:
      <div class="">
        <span class="fa fa-calendar" style="width: 18px;"></span> ${_("Classes Start")} : ${course.start_datetime_text()}
      </div>
      % endif

      % if get_course_about_section(course, "end_date") or course.end:
      <div class="">
        <span class="fa fa-calendar" style="width: 18px;"></span> ${_("Classes End")} :
        % if get_course_about_section(course, "end_date"):
            ${get_course_about_section(course, "end_date")}
        % else:
            ##${course.end_date_text}
        % endif
      </div>
      % endif

      % if get_course_about_section(course, "effort"):
      ## <div class="">
      ##   <span class="" style="margin-right: 5px;"><span class="fa fa-clock-o"></span> ${_("Estimated Effort")}</span>
      ##   <span class="">${get_course_about_section(course, "effort")}</span>
      ## </div>
      <div class="">
        <span class="fa fa-clock-o" style="width: 18px;"></span> ${_("Estimated Effort")} : ${get_course_about_section(course, "effort")}
      </div>
      % endif

      <div class="clearfix"></div>
    </div><!-- /featurette -->

    <br />

		<div class="course-overview">
			${get_course_about_section(course, "overview")}
		</div><!-- /course-overview -->
  </div><!-- /container -->

  %if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <input name="course_id" type="hidden" value="${course.id.to_deprecated_string()}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <input name="submit" type="submit" value="enroll">
    </form>
  </div>
  %endif
	
  <%include file="../footer-bootstrap.html" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript">
    (function() {
      /*$( "#class_enroll_form" ).submit(function( event ) {
        console.log("ici 4 !");
        event.preventDefault();
      });*/

      (function($, undefined) {
        var form_ext;
        $.form_ext  = form_ext = {
          ajax: function(options) {
            return $.ajax(options);
          },
          handleRemote: function(element) {
            var method = element.attr('method');
            var url = element.attr('action');
            var data = element.serializeArray();
            var options = {
              type: method || 'GET',
              data: data,
              dataType: 'text json',
              success: function(data, status, xhr) {
                element.trigger("ajax:success", [data, status, xhr]);
              },
              complete: function(xhr, status) {
                element.trigger("ajax:complete", [xhr, status]);
              },
              error: function(xhr, status, error) {
                element.trigger("ajax:error", [xhr, status, error]);
              }
            }
            if(url) { options.url = url; }
            return form_ext.ajax(options)
          },
          CSRFProtection: function(xhr) {
            var token = $.cookie('csrftoken');
            if (token) xhr.setRequestHeader('X-CSRFToken', token);
          }
        }
        $.ajaxPrefilter(function(options, originalOptions, xhr){ if ( !options.crossDomain ) { form_ext.CSRFProtection(xhr); }});
        $(document).delegate('form', 'submit', function(e) {
          var form = $(this),
          remote = form.data("remote") !== undefined;

          if(remote) {
            form_ext.handleRemote(form);
            return false;
          }

        });
      })(jQuery);

      $("#register").click(function(event) {
        $("#class_enroll_form").submit();
        event.preventDefault();
      });



      ## making the conditional around this entire JS block for sanity
      %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
        <%
          perms_error = _('The currently logged-in user account does not have permission to enroll in this course. '
                          'You may need to {start_logout_tag}log out{end_tag} then try the register button again. '
                          'Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(
                            start_help_tag="<a href='{url}'>".format(url=marketing_link('FAQ')), end_tag='</a>',
                            start_logout_tag="<a href='{url}'>".format(url=reverse('logout'))
                            )
        %>
      $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
        if(xhr.status == 200) {
          location.href = "${reverse('dashboard')}";
        } else if (xhr.status == 403) {
          location.href = "${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}?course_id=${course.id.to_deprecated_string()}&enrollment_action=enroll";
        } else if (xhr.status == 400) { //This means the user did not have permission
          $('#register_error').html("${perms_error}").css("display", "block");
        } else {
          $('#register_error').html(
              (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
          ).css("display", "block");
        }
      });
      %else:
      $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
        if(xhr.status == 200) {
          if (xhr.responseText == "") {
            location.href = "${reverse('dashboard')}";
          }
          else {
            location.href = xhr.responseText;
          }
        } else if (xhr.status == 403) {
          location.href = "${reverse('register_user')}?course_id=${course.id.to_deprecated_string()}&enrollment_action=enroll";
        } else {
          $('#register_error').html(
              (xhr.responseText ? xhr.responseText : 'An error occurred. Please try again later.')
          ).css("display", "block");
        }
      });
      %endif
    })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>


<section class="course-info">
  <header class="course-profile">
    <div class="intro-inner-wrapper">
      <div class="table">
      <section class="intro">
        <hgroup>
          <h1>
            ${get_course_about_section(course, "title")}
            % if not self.theme_enabled():
              <a href="#">${get_course_about_section(course, "university")}</a>
            % endif
          </h1>
        </hgroup>

        <div class="main-cta">
        %if user.is_authenticated() and registered:
          %if show_courseware_link:
            <a href="${course_target}">
          %endif

          <span class="register disabled">${_("You are registered for this course")}</span>

          %if show_courseware_link:
            <strong>${_("View Courseware")}</strong>
            </a>
          %endif


        % elif is_course_full:
          <span class="register disabled">
            ${_("Course is full")}
          </span>


        % elif invitation_only and not can_enroll:
          <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
        ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
        ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
        ## so that they can register and become a real user that can enroll.
        % elif not is_shib_course and not can_enroll:
          <span class="register disabled">${_("Enrollment is Closed")}</span>


        %else:
          <a href="#" class="register">
            ${_("Register for {course.display_number_with_default}").format(course=course) | h}
          </a>
          <div id="register_error"></div>
        %endif
        </div>

      </section>
      % if get_course_about_section(course, "video"):
      <a href="#video-modal" class="media" rel="leanModal">
        <div class="hero">
          <img src="${course_image_url(course)}" alt="" />
          <div class="play-intro"></div>
        </div>
      </a>
      %else:
      <div class="media">
        <div class="hero">
          <img src="${course_image_url(course)}" alt="" />
        </div>
      </div>
      % endif
    </div>
      </div>
  </header>

  <section class="container">
    <section class="details">
      % if staff_access and studio_url is not None:
        <div class="wrap-instructor-info studio-view">
          <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
        </div>
      % endif

      <nav>
        <a href="#" class="active">${_("Overview")}</a>
      ##  <a href="#">${_("FAQ")}</a>
      ##  <a href="#">${_("Requirements")}</a>
      ##  <a href="#">${_("Text-book")}</a>
      ##  <a href="#">${_("Syllabus")}</a>
      ##  <a href="#">${_("Reviews")}</a>
      </nav>

      <div class="inner-wrapper">
        ${get_course_about_section(course, "overview")}
      </div>
    </section>

    <section class="course-sidebar">
      <section class="course-summary">
        <header>
          % if microsite.get_value('course_about_show_social_links', True):
          <div class="social-sharing">
            <div class="sharing-message">${_("Share with friends and family!")}</div>
            ## TODO: this should probably be an overrideable block,
            ##       or something allowing themes to do whatever they
            ##       want here (and on this whole page, really).
            % if self.stanford_theme_enabled():
              <a href="http://twitter.com/intent/tweet?text=I+just+registered+for+${course.number}+${get_course_about_section(course, 'title')}!+(http://class.stanford.edu)" class="share">
                <img src="${static.url('images/social/twitter-sharing.png')}" alt="Tweet that you've registered for this course">
              </a>
              <a href="mailto:?subject=Take%20a%20course%20at%20Stanford%20online!&body=I%20just%20registered%20for%20${course.number}%20${get_course_about_section(course, 'title')}+(http://class.stanford.edu)" class="share">
                <img src="${static.url('images/social/email-sharing.png')}" alt="Email someone to say you've registered for this course">
              </a>
            % else:
              <%
                site_domain = microsite.get_value('site_domain', settings.SITE_NAME)
                platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

                tweet_text = _("I just registered for {number} {title} through {account}: {url}").format(
                    number=course.number,
                    title=get_course_about_section(course, 'title'),
                    account=microsite.get_value('course_about_twitter_account', settings.PLATFORM_TWITTER_ACCOUNT),
                    url=u"http://{domain}{path}".format(
                        domain=site_domain,
                        path=reverse('about_course', args=[course.id.to_deprecated_string()])
                    )
                ).replace(u" ", u"+")
                tweet_action = u"http://twitter.com/intent/tweet?text={tweet_text}".format(tweet_text=tweet_text)

                facebook_link = microsite.get_value('course_about_facebook_link', settings.PLATFORM_FACEBOOK_ACCOUNT)

                email_subject = u"mailto:?subject={subject}&body={body}".format(
                    subject=_("Take a course with {platform} online").format(platform=platform_name),
                    body=_("I just registered for {number} {title} through {platform} {url}").format(
                        number=course.number,
                        title=get_course_about_section(course, 'title'),
                        platform=platform_name,
                        url=u"http://{domain}{path}".format(
                            domain=site_domain,
                            path=reverse('about_course', args=[course.id.to_deprecated_string()]),
                        )
                    )
                ).replace(u" ", u"%20")
              %>
              <a href="${tweet_action}" class="share">
                <img src="${static.url('images/social/twitter-sharing.png')}" alt="Tweet that you've registered for this course">
              </a>
              <a href="${facebook_link}" class="share">
                <img src="${static.url('images/social/facebook-sharing.png')}" alt="Post a Facebook message to say you've registered for this course">
              </a>
              <a href="${email_subject}" class="share">
                <img src="${static.url('images/social/email-sharing.png')}" alt="Email someone to say you've registered for this course">
              </a>
            % endif
          </div>
          % endif
        </header>

        <ol class="important-dates">
          <li><div class="icon course-number"></div><p>${_("Course Number")}</p><span class="course-number">${course.display_number_with_default | h}</span></li>
          % if not course.start_date_is_still_default:
          <li><div class="icon start"></div><p>${_("Classes Start")}</p><span class="start-date">${course.start_datetime_text()}</span></li>
          % endif
            ## We plan to ditch end_date (which is not stored in course metadata),
            ## but for backwards compatibility, show about/end_date blob if it exists.
            % if get_course_about_section(course, "end_date") or course.end:
            <li>
                <div class="icon end"></div>
                <p>${_("Classes End")}</p><span class="final-date">
                % if get_course_about_section(course, "end_date"):
                    ${get_course_about_section(course, "end_date")}
                % else:
                    ${course.end_date_text}
                % endif
                </span>
            </li>
            % endif

          % if get_course_about_section(course, "effort"):
            <li><div class="icon effort"></div><p>${_("Estimated Effort")}</p><span class="start-date">${get_course_about_section(course, "effort")}</span></li>
          % endif

          ##<li><div class="icon length"></div><p>${_('Course Length')}</p><span class="course-length">${_('{number} weeks').format(number=15)}</span></li>

          % if get_course_about_section(course, "prerequisites"):
            <li class="prerequisites"><div class="icon prereq"></div><p>${_("Prerequisites")}</p><span class="start-date">${get_course_about_section(course, "prerequisites")}</span></li>
          % endif
        </ol>
      </section>


      ## For now, ocw links are the only thing that goes in additional resources
      % if get_course_about_section(course, "ocw_links"):
      <section class="additional-resources">
        <header>
          <h1>${_("Additional Resources")}</h1>
        </header>

        <section>
          ## "MITOpenCourseware" should *not* be translated
          <h2 class="opencourseware">MITOpenCourseware</h2>
             ${get_course_about_section(course, "ocw_links")}
        </section>
      </section>
      %endif
    </section>

  </section>
</section>

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <input name="course_id" type="hidden" value="${course.id.to_deprecated_string()}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="enroll">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />


<%block name="js">

</%block>
