/****************************************************************************************************
*
*   INARES Theming File
*
*   Contains all the theme color definitions for the INARES site
*
****************************************************************************************************/

//-----------------
//  Color variables
//-----------------

//Main Color Variables
$main-color: #B9B9B9;
$dark-color: #727372; //Link Color
$light-color: #E1E1E1; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #959595; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #3E0466;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%);

//Secondary Color Variables
$secondary: #BF8A2E;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color

//Gray Color Variables
$gray: #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #fbfbfb; //Main BG Color
$white: $gray-1;

$black: #2e2e2e;
$black-80: #585858;



//-----------------
//  Font Assignment
//-----------------

$font-family-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      "Crimson Text", Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$theme-sans-font:  $font-family-sans-serif;
$sans-serif:       $font-family-sans-serif;
$body-font-family: $font-family-sans-serif;

$theme-serif-font: $font-family-serif;
$serif:            $theme-serif-font;

$font-size-base: 14px;

// FONT-WEIGHTS
$font-light:    300;
$font-regular:  400;
$font-semibold: 500;   // 600 in the original theme
$font-bold:     700;


// SPLINT: fonts
$f-serif:      $font-family-serif;
$f-sans-serif: $font-family-sans-serif;
$f-monospace:  $font-family-monospace;

// SPLINT: Header specific sans-serif
$header-sans-serif: $font-family-sans-serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: transparentize(lighten($secondary, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: #333333;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------

/*$login-banner-image: none;
$register-banner-image: none;*/


//-----------------
//  Mixin Styles
//-----------------
/*@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    top: 0;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}*/

/*header.global .nav-global {
    margin-top: -5px;
}*/


/*header.global {
  .user {
    > .primary {
      &:last-child {
        > a {
          padding: ($baseline/4) 8px 8px ($baseline/2);
        }
      }
    }
  }
}*/


/*
.course-info {
  .container {
    padding-bottom: 120px;
  }

  header.course-profile {
    background: $course-profile-bg;
    background-image: $homepage-bg-image;
    background-size: cover;
    box-shadow: 0 1px 80px 0 rgba(0,0,0, 0.5);
    border-bottom: 1px solid $border-color-3;
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0, 0.1);
    height: 280px;
    margin-top: $header_image_margin;
    padding-top: 150px;
    overflow: hidden;
    position: relative;
    width: 100%;

    .intro-inner-wrapper {
      background: $course-header-bg;
      border: 1px solid $border-color-3;
      box-shadow: 0 4px 25px 0 rgba(0,0,0, 0.5);
      @include box-sizing(border-box);
      @include clearfix;
      margin: 0 auto;
      max-width: 1200px;
      min-width: 760px;
      position: relative;
      z-index: 2;
      height: 263px;

      > div.table {
        display: table;
        width: 100%;
      }
      .intro {
        @include box-sizing(border-box);
        @include clearfix;
        display: table-cell;
        vertical-align: middle;
        padding: 20px 20px;
        position: relative;
        //width: flex-grid(8) + flex-gutter();
        z-index: 2;

        > hgroup {
          border-bottom: 1px solid $border-color-2;
          box-shadow: 0 1px 0 0 rgba(255,255,255, 0.6);
          margin-bottom: 20px;
          padding-bottom: 20px;
          width: 100%;

          h1 {
            color: $base-font-color;
            font-weight: normal;
            display: inline-block;
            margin: 0;
            letter-spacing: 0px;
            text-align: left;
            text-shadow: 0 1px rgba(255,255,255, 0.6);

            a {
              color: $lighter-base-font-color;
              font: italic 800 0.6em/1em $sans-serif;
              letter-spacing: 0px;
              margin-left: 15px;
              text-shadow: 0 1px rgba(255,255,255, 0.6);
              text-transform: none;

              &:hover, &:focus {
                color: $link-color;
              }
            }
          }

          h2 {
            display: inline-block;
            margin: 0;

            a {
              color: $lighter-base-font-color;
              font: italic 800 1em/1em $sans-serif;
              letter-spacing: 0px;
              text-shadow: 0 1px rgba(255,255,255, 0.6);
              text-transform: none;

              &:hover, &:focus {
                color: $link-color;
              }
            }
          }
        }

        .main-cta {
          @include clearfix;
          float: left;
          margin-right: flex-gutter();
          @include transition(all 0.15s linear 0s);
          width: flex-grid(12);

          > a.find-courses, a.register, a.add-to-cart {
            @include button(shiny, $button-color);
            @include box-sizing(border-box);
            border-radius: 3px;
            display: block;
            font: normal 1.2rem/1.6rem $sans-serif;
            letter-spacing: 1px;
            padding: 10px 0px;
            text-transform: uppercase;
            text-align: center;
            width: flex-grid(6);

            &:hover, &:focus {
              color: rgb(255,255,255);
            }
          }

          a {
            &:hover, &:visited, &:focus {
              text-decoration: none;
            }
          }

          strong {
            @include button(shiny, $button-color);
            @include box-sizing(border-box);
            border-radius: 3px;
            display: block;
            float: left;
            font: normal 1.2rem/1.6rem $sans-serif;
            letter-spacing: 1px;
            padding: 10px 0px;
            text-transform: uppercase;
            text-align: center;
            width: flex-grid(3, 8);

            &:hover, &:focus {
              color: rgb(255,255,255);
            }
          }

          span.register, span.add-to-cart {
            background: $button-archive-color;
            border: 1px solid darken($button-archive-color, 50%);
            @include box-sizing(border-box);
            color: darken($button-archive-color, 50%);
            display: block;
            letter-spacing: 1px;
            padding: 10px 0px 8px;
            text-transform: uppercase;
            text-align: center;
            float: left;
            margin: 1px flex-gutter(8) 0 0;
            @include transition(none);
            width: flex-grid(5, 8);
          }

          #register_error {
            background: $error-red;
            border: 1px solid rgb(202, 17, 17);
            color: rgb(143, 14, 14);
            display: none;
            padding: 12px;
            margin-top: 5px;
          }
        }
      }

      .media {
        background: transparent;
        @include box-sizing(border-box);
        display: table-cell;
        padding: 20px;
        position: relative;
        width: flex-grid(4);
        z-index: 2;
        width: 260px;

        .hero {
          border: 1px solid $border-color-3;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: inline-block;

          .play-intro {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)));
            border-radius: 4px;
            box-shadow: 0 1px 12px 0 rgba(0,0,0, 0.4);
            border: 2px solid rgba(255,255,255, 0.8);
            height: 80px;
            left: 50%;
            margin-top: -40px;
            margin-left: -40px;
            position: absolute;
            top: 50%;
            width: 80px;

            &::after {
              color: rgba(255,255,255, 0.8);
              content: "\25B6";
              display: block;
              font: normal 2em/1em $sans-serif;
              left: 50%;
              margin-left: -11px;
              margin-top: -16px;
              position: absolute;
              text-shadow: 0 -1px rgba(0,0,0, 0.8);
              top: 50%;
            }
          }

          img {
            display: block;
            width: 100%;
          }
        }

        &:hover, &:focus {
          text-decoration: none;

          .play-intro {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.75), rgba(0,0,0, 0.8)));
            box-shadow: 0 1px 12px 0 rgba(0,0,0, 0.5);
            border-color: rgba(255,255,255, 0.9);

            &::after {
              color: rgba(255,255,255, 1);
            }
          }
        }
      }
    }
  }

  .container {
    @include clearfix;

    .wrap-instructor-info {
      &.studio-view {
        position: relative;
        margin: ($baseline/2) 0 0 0;
        overflow: hidden;
      }

      .instructor-info-action {
        @extend %t-copy-sub2;
        float: right;
        padding: ($baseline/4) ($baseline/2);
        border-radius: ($baseline/4);
        background-color: $shadow-l2;
        text-align: right;
        text-transform: uppercase;
        color: $lighter-base-font-color;

        &:hover {
          background-color: $link-hover;
          color: $white;
        }
      }
    }

    nav {
      border-bottom: 1px solid $border-color-2;
      @include box-sizing(border-box);
      @include clearfix;
      margin: 40px 0;
      width: flex-grid(12);

      &::after {
        @extend %faded-hr-divider;
        content: "";
        display: none;
      }

      a {
        border-bottom: 3px solid transparent;
        color: $lighter-base-font-color;
        display: inline-block;
        letter-spacing: 1px;
        margin: 0 15px;
        padding: 0px 5px 15px;
        text-align: center;
        text-transform: lowercase;

        &:first-child {
          margin-left: 0px;
        }

        &:hover, &:active, &:focus {
          border-color: $border-color-2;
          color: $base-font-color;
          text-decoration: none;
        }
      }
    }
  }

  .details {
    float: left;
    margin-right: flex-gutter();
    width: flex-grid(8);
    font: normal 1em/1.6em $serif;

    h2 {
      margin-top: ($baseline*1.5);
    }

    p {
      margin-bottom: ($baseline/2);
    }

    dt {
      margin-top: ($baseline/2);
      font-weight: 700;
    }

    .inner-wrapper {
      > section {
        margin-bottom: 40px;
      }

      .course-staff {

        .teacher {
          @include clearfix;
          margin-bottom: 40px;

          h3 {
            color: $base-font-color;
            font-family: $sans-serif;
            font-weight: 700;
            margin-bottom: 15px;
            text-transform: none;
          }

          .teacher-image {
            background: rgb(255,255,255);
            border: 1px solid $border-color-2;
            height: 115px;
            float: left;
            margin: 0 15px 0px 0;
            overflow: hidden;
            padding: 1px;
            width: 115px;

            img {
              display: block;
              min-height: 100%;
              max-width: 100%;
            }
          }
        }
      }

      .prerequisites, .syllabus {
        ul {
          li {
            font: normal 1em/1.6em $serif;
          }
          ul {
            margin: 5px 0px 10px;
          }
        }
      }

      .faq {
        @include clearfix;

        .responses {
          float: left;
        }

        .response {
          margin-bottom: 40px;

          h3 {
            font-family: $sans-serif;
            font-weight: 700;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .course-sidebar {
    @include box-sizing(border-box);
    float: left;
    width: flex-grid(4);

    > section {
      box-shadow: inset 0 0 3px 0 rgba(0,0,0, 0.15);
      border: 1px solid $border-color-2;

      &.course-summary {
        padding: 16px 20px 30px;
        margin-bottom: 220px;
        border-top: none;
      }

      &.additional-resources {
        padding: 30px;

        .opencourseware {
          text-indent: -9999px;
          background: url('../images/opencourseware.png') 0 0 no-repeat;
          width: 266px;
          height: 31px;
          margin-bottom: 20px;
        }

        ul {
          padding-left: 0;
          margin-bottom: 0;
        }

        li {
          list-style: none;
          padding-left: 29px;
          background: url('../images/link-icon.png') left center no-repeat;
        }
      }
    }

    header {
      margin-bottom: 30px;
      padding-bottom: 16px;
      position: relative;
      text-align: center;

      &::after {
        @extend %faded-hr-divider;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        z-index: 1;
      }

      a.university-name {
        border-right: 1px solid $border-color-2;
        color: $base-font-color;
        font-family: $sans-serif;
        font-style: italic;
        font-weight: 800;
        display: inline-block;
        letter-spacing: 0px;
        margin-right: 15px;
        padding-right: 15px;

        &:hover, &:focus {
          color: $lighter-base-font-color;
        }
      }

      .social-sharing {
        @include box-sizing(border-box);
        float: left;
        height: 44px;
        position: relative;
        text-align: center;
        width: flex-grid(12);
        z-index: 2;

        float: none;

        &:hover, &:focus {
          .sharing-message {
            opacity: 1.0;
            top: 56px;
          }
        }

        .sharing-message {
          @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.9) 0%,
                                                            rgba(0,0,0, 0.7) 100%));
          border: 1px solid rgba(0,0,0, 0.5);
          border-radius: 4px;
          box-shadow: 0 4px 25px 0 rgba(0,0,0, 0.5);
          @include box-sizing(border-box);
          color: rgb(255,255,255);
          float: right;
          font-family: $serif;
          font-size: 0.9em;
          font-style: italic;
          left: 50%;
          margin-left: -110px;
          opacity: 0;
          padding: 6px 10px;
          position: absolute;
          text-align: center;
          @include transition(all 0.15s ease-out 0s);
          top: 65px;
          width: 220px;

          &:hover, &:focus {
            opacity: 0;
          }
        }

        .share {
          height: 44px;
          display: inline-block;
          margin-right: 10px;
          opacity: 0.5;
          @include transition(all 0.15s linear 0s);
          width: 44px;

          &:hover, &:focus {
            opacity: 1.0;
          }

          img {
            width: 100%;
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      h1 {
        font: 1em $serif;
        letter-spacing: 0;
        color: #999;
        margin-bottom: 0;
      }
    }

    .important-dates {
      list-style: none;
      margin: 0px;
      padding: 0px 10px;

      li {
        @include clearfix;
        border-bottom: 1px dotted $border-color-2;
        margin-bottom: 20px;
        padding-bottom: 10px;

        &.prerequisites {
          border: 1px solid $border-color-2;
          margin: 0 -10px 0;
          padding: 10px;

          p {
            margin-right: 10px;
          }
        }

        &:hover, &:focus {
          .icon {
            opacity: 1.0;
          }
        }

        p {
          color: $lighter-base-font-color;
          float: left;
          font-family: $sans-serif;
        }

        .icon {
          background-size: cover;
          float: left;
          height: 19px;
          margin: 2px 10px 0 0;
          opacity: 0.6;
          @include transition(all 0.15s linear 0s);
          width: 19px;

          &.start {
            @include background-image(url('../images/calendar-icon.png'));
          }

          &.end {
            @include background-image(url('../images/calendar-icon.png'));
          }

          &.length {
//            @include background-image(url('../images/chart-icon.png'));
          }

          &.course-number {
//            @include background-image(url('../images/course-info-icon.png'));
          }

          &.effort {
//            @include background-image(url('../images/pencil-icon.png'));
          }

          &.prereq {
//            @include background-image(url('../images/prerec-icon.png'));
          }
        }

        span {
          float: right;
          font-weight: 700;
        }
      }
    }
  }
}*/





/***************************/
/*      edX overriden      */
/***************************/


/* included in '_forms.scss' modifications
form {
  font-size: $font-size-base;
}


textarea,
label,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  font: inherit;
}*/

/* included in '_header.scss' modifications
header.global .user>.primary:last-child>a {
  padding: 4px 8px 10px 8px;
  height: 34px;
  width: 30px;
  text-align: center;
}

header.global .user a.user-link {
  height: 34px;
  padding: 6px 12px 10px 10px;
}

header.global .user a.user-link .icon {
  margin: 1px 5px 0px 0px;
}*/

/*label {
  font: inherit;
}*/