/***************************/
/*   Bootstrap overriden   */
/***************************/

p {
  margin: ($line-height-computed / 2) 0 0 0;
}


@media( max-width: $grid-float-breakpoint-max ) {
  .media {
    // Proper spacing between instances of .media
    //margin-top: 15px;

    &:first-child {
      margin-top: auto;  // Plutôt que 0px
    }
  }

  .media-left,
  .media-right,
  .media-body {
    display: inline;  // Plutôt que table-cell, pour que les images ne soient pas à côté du texte, mais au-dessus ou en-dessous
  }

  .media-object {
    // Centre les images
    margin-right: auto;
    margin-left:  auto;

    // Redimensionne automatiquement les images lorsqu'elles sont trop grandes
    height:    auto;
    max-width: 100%;

    padding:   2% 0;
  }
}

.lead {
  font-size: floor(($font-size-base * 1.15));    //floor(($font-size-base * 1.15))

  @media (min-width: $screen-sm-min) {
    font-size: 20px;   // ($font-size-base * 1.5)
  }
}











/***************************/
/*    Theme definitions    */
/***************************/

/*  Not used
.parallax { }
.background { background-repeat:no-repeat;  background-position:50% 50%;  background-position:50% 50%\9 !important; }

.bgParallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nowrap {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

html {
  min-height: 100%; color: #3E0466; background-color: #BF8A2E;
}

.cap { display: block;  float: left;  font-size: 70px;  line-height: 80%;  font-weight: bold; }
*/


/* included in '_base.scss' modifications
.container {
  padding-top: 0;
  padding-bottom: 0;
  min-width: 0;
}*/

/* included in '_login-register.scss' modifications
.login-register {
  .form-type, .toggle-form  {
    min-width: 0;
  }
}*/


body {
  padding-top: 40px;    // Necessary, so that the pages begin after the menu
  -webkit-font-smoothing: antialiased !important;
  position: relative;

  > .container {
    padding: 30px 15px 0 15px;   // For homepage
  }
}


.course-head {
  padding: 2% 2%;
  overflow: hidden;

  @media( min-width: $grid-float-breakpoint ) {
    max-width: $grid-float-breakpoint;
  }
}


.container {
  @media( min-width: $grid-float-breakpoint ) {
    max-width: $grid-float-breakpoint;
  }

  @media( max-width: $grid-float-breakpoint-max ) {
    max-width: 600px;
  }
}


a {
  font-weight: $font-bold;

  &:active {
    top: 1px;
  }
}

input:disabled {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
}



/*.thumbnail {
  position: relative;
  overflow: hidden;

  .th-caption {
      position: absolute;
      top:   0;
      right: 0;
      background: rgba(62, 4, 102, 0.85);
      width:  100%;
      height: 100%;
      padding: 2%;
      display: none;
      text-align: center;
      color: #bf8a2e;
      z-index: 2;
      font-size: 16px;
      font-weight: $font-semibold;
    }

  .title {
    border-top:    2px solid white;
    border-bottom: 2px solid white;
    padding: 3%;
    width: 97%;
    text-align: center;
    position:absolute;
    top:30px;
    font-size: 24px;
    font-weight: $font-bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: $theme-orange;
  }
}*/



.navbar {
  line-height: 0;
  font-weight: $font-bold;

  .navbar-collapse {
    text-align: center;
  }
}


.navbar-hover {
  line-height: 0;
  display: inline-block;
  float: none;

  > li {
    > a {
      line-height:    0;

      @media( min-width: $grid-float-breakpoint ) {
        padding-top:    18px;
        padding-left:   10px;
        padding-right:  10px;
        padding-bottom: 18px;

        &:hover {
          padding-bottom: 16px;
          margin-bottom: -4px;
          border-radius:  0;
          border-bottom-width: 4px;
          border-bottom-style: solid;
          border-bottom-color: $theme-purple-lighter;
          color: $theme-purple-lighter !important;
        }
      }
    }
  }
}



.footer {
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  font-weight: $font-bold;

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}


.wrapper-footer {
  footer#footer-openedx {
    .nav-legal {
      .nav-legal-02 a,
      .nav-legal-03 a
      .nav-legal-04 a {
        &:before {
          margin-right: 0;
          content: " - ";
        }
      }
    }
  }
}



.text-muted-feat {
  font-size: 80%;

  &.gray {
    color: $gray-light;
  }

  &.purple {
    color: $theme-purple-light;
  }
}


.featurette-transp {
  width: 100%;
}


.featurette-violet {
  width: 100%;
  background-color: $theme-purple-dark;
  color: $gray-lighter;

  .featurette-heading::first-line {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}


.featurette-heading {
  font-weight: $font-semibold;
  letter-spacing: -1px;

  @media( min-width: $grid-float-breakpoint ) {
    font-size: 48px;
    line-height: 1.1;
  }

  @media( max-width: $grid-float-breakpoint-max ) {
    font-size: 38px;
    line-height: 1;
  }
}


.login-register {
  padding-bottom: 20px;
}



@media( min-width: $grid-float-breakpoint ) {
  .featurette-text { padding: 5% 2%; }
}


@media( max-width: $grid-float-breakpoint-max ) {
  .navbar-nav { margin: 0; }
  .featurette-text { padding: 2% 1%; }
}




/*   THUMBNAILS (for courses on home page)   */

.thumb {
  border:        1px solid $theme-purple-dark;
  border-radius: 4px;
  overflow:      hidden;
  margin-bottom: 20px;
  height:        250px;

  /*@media (min-width: $screen-sm-min) {
    height: 250px;
  }

  @media (max-width: $screen-xs-max) {
    height: 200px;
  }*/

  > .thumb-overlay {
    background-image:  inherit;
    background-repeat: inherit;
    background-size:   inherit;

    position:      relative;
    border-bottom: 2px solid white;
    overflow:      hidden;

    > .thumb-bg {
      background-image:  inherit;
      background-repeat: inherit;
      background-size:   inherit;

      position: absolute;
      top:      0;
      right:    0;
      bottom:   0;
      left:     0;
      z-index:  99;

      -webkit-filter: blur(2px);
      -moz-filter:    blur(2px);
      -o-filter:      blur(2px);
      -ms-filter:     blur(2px);
      filter:         blur(2px);
    }

    > .thumb-txt {
      position:   relative;
      z-index:    100;
      padding:    10px;
      background: rgb (34, 34, 34); /* for IE */
      background: rgba(34, 34, 34, 0.75);
      text-align: center;
      color:      #FFFFFF;

      > thumb-title {
        font-weight: 700;
        font-size:   24px;
        overflow:    hidden;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        height:      auto;
        opacity:     1;
        transition:  opacity 0.7s ease-out;
      }

      > thumb-infos {
        font-weight: normal;
        font-size:   16px;
        overflow:    hidden;
        display:     block;
        height:      0;
        opacity:     0;
        transition:  opacity 0.7s ease-out;

        .btn {
          padding: 3px 12px;
        }
      }
    }
  }


  &:hover {
    > .thumb-overlay {
      height:        100%;
      border-bottom: none;

      > .thumb-txt {
        padding: 5px;
        height:  100%;

        > thumb-title {
          font-weight: 500;
          font-size:   20px;
          height:      0;
          opacity:     0.5;
        }

        > thumb-infos {
          height:  auto;
          opacity: 1;
        }
      }
    }
  }
}






/* MD */
/*@media (min-width: 992px) {
  height: 250px;
}*/

/* LG */
/*@media (min-width: 1200px) {
}*/