/***************************/
/*   Bootstrap overriden   */
/***************************/

p {
  margin: ($line-height-computed / 2) 0 0 0;
}


@media( max-width: $grid-float-breakpoint-max ) {
  .media {
    // Proper spacing between instances of .media
    //margin-top: 15px;

    &:first-child {
      margin-top: auto;  // Plutôt que 0px
    }
  }

  .media-left,
  .media-right,
  .media-body {
    display: inline;  // Plutôt que table-cell, pour que les images ne soient pas à côté du texte, mais au-dessus ou en-dessous
  }

  .media-object {
    // Centre les images
    margin-right: auto;
    margin-left:  auto;

    // Redimensionne automatiquement les images lorsqu'elles sont trop grandes
    height:    auto;
    max-width: 100%;

    padding:   2% 0;
  }
}

.lead {
  font-size: floor(($font-size-base * 1.15));    //floor(($font-size-base * 1.15))

  @media (min-width: $screen-sm-min) {
    font-size: 20px;   // ($font-size-base * 1.5)
  }
}









/***************************/
/*    Theme definitions    */
/***************************/

html { min-height: 100%; color: #3E0466; background-color: #BF8A2E; }
body { padding-top: 40px; -webkit-font-smoothing: antialiased !important; position: relative; }
body > .container { padding: 20px 15px 0; }

//.cap { display: block;  float: left;  font-size: 70px;  line-height: 80%;  font-weight: bold; }
.nowrap { overflow-x: auto;  overflow-y: hidden;  white-space: nowrap; }


.navbar-hover { line-height: 0;  display: inline-block; float: none; }
.navbar .navbar-collapse { text-align: center; }
.navbar { line-height: 0; }

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  //height: 40px;
  background-color: #f5f5f5;
}

.footer > .container { padding-right: 15px;  padding-left: 15px; }
.navbar, .footer, a { font-weight: 600; }


/*.parallax { }
.background { background-repeat:no-repeat;  background-position:50% 50%;  background-position:50% 50%\9 !important; }

.bgParallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/


.text-muted-feat {
  font-size: 80%;
}
.text-muted-feat.gray {
  color: $gray-light;
}
.text-muted-feat.purple {
  color: $theme-purple-light;
}

.featurette-transp {
  width: 100%;
}
.featurette-violet {
  width: 100%;
  background-color: $theme-purple-dark;
  color: $gray-lighter;
}
//.featurette-violet { width: 100%; background-color: #62228C;  color: rgb(204, 204, 204); }
//.featurette-violet > .text-muted { color: $gray-lighter; }


.login-register {
  padding-bottom: 20px;
}

/* included in '_base.scss' modifications
.container {
  padding-top: 0;
  padding-bottom: 0;
  min-width: 0;
}*/

/* included in '_login-register.scss' modifications
.login-register {
  .form-type, .toggle-form  {
    min-width: 0;
  }
}*/



.wrapper-footer {
  footer#footer-openedx {
    .nav-legal {
      .nav-legal-02 a,
      .nav-legal-03 a
      .nav-legal-04 a {
        &:before {
          margin-right: 0;
          content: " - ";
        }
      }
    }
  }
}




/*label {
  font: initial;
}*/


@media( min-width: $grid-float-breakpoint ) {
  .navbar-hover > li > a {
    line-height: 0;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
  }
  .navbar-hover > li > a:hover {
    padding-bottom: 16px;
    margin-bottom: -4px;
    border-radius: 0;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: $theme-purple-lighter;
    color: $theme-purple-lighter !important;
  }
  /*.image-inares { background-image: url("../images/logo-inares.jpg");      background-repeat: no-repeat;  background-size: cover; }
  .image-outils { background-image: url("../images/outils.jpg");           background-repeat: no-repeat; }
  .image-platon { background-image: url("../images/platon_aristote.jpg");  background-repeat: no-repeat; }*/
  /*.hidden-lg  { display:none  !important; }
  .visible-lg { display:block !important; }*/
  .container { max-width: $grid-float-breakpoint; }

  .featurette-text { padding: 5% 2%; }
  .featurette-heading { font-size: 48px;  font-weight: 600;  line-height: 1.1;  letter-spacing: -1px; }
  /*.image-accueil { width:400px;  height: 400px;  margin-bottom: 20px; }
  .pull-left-me  { float: left  !important; }
  .pull-right-me { float: right !important; }
  .pull-left-me.image-accueil  { margin-right: 40px;  margin-left: auto; }
  .pull-right-me.image-accueil { margin-right: auto;  margin-left: 40px; }*/
  //.cap2::first-letter { display: block;  float: left;  font-size: 67px;  line-height: 80%;  font-weight: bold; }

  .course-head { padding: 2% 2%; overflow: hidden; max-width:900px; }
}

@media( max-width: $grid-float-breakpoint-max ) {
  .navbar-hover > li > a { line-height: 0; }
  .navbar-nav { margin: 0; }
  /*.image-inares { background-image: url("../images/logo-inares-moyen.jpg");      background-repeat: no-repeat; }
  .image-outils { background-image: url("../images/outils-petit.jpg");           background-repeat: no-repeat; }
  .image-platon { background-image: url("../images/platon_aristote-petit.jpg");  background-repeat: no-repeat; }*/
  /*.hidden-lg  { display:block !important; }
  .visible-lg { display:none  !important; }*/
  .container { max-width: 600px; }

  .featurette-text { padding: 2% 1%; }
  .featurette-heading { font-size: 38px;  font-weight: 600;  line-height: 1;  letter-spacing: -1px; }
  /*.image-accueil { width:200px;  height: 200px;  margin: 2%; }
  .pull-left-me  { margin-right: auto;  margin-left: auto; }
  .pull-right-me { margin-right: auto;  margin-left: auto; }*/
  //.cap2::first-letter { display: block;  float: left;  font-size: 50px;  line-height: 80%;  font-weight: bold; }

  .course-head { padding: 2% 2%; overflow: hidden; }
}

