## https://github.com/edx/edx-platform/blob/master/lms/templates/student_account/login_and_register.html

<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%!
  from microsite_configuration  import microsite
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from courseware.courses       import course_image_url, get_course_about_section
%>


<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="css">
  ##<style type="text/css"></style>
  ##<%static:css group='style-vendor'/>
  <%static:css group='style-main'/>
  <%include file="../css-bootstrap.html" />
</%block>

<%block name="js_extra">
    <script src="${static.url('js/vendor/history.js')}"></script>
    <script src="${static.url('js/vendor/underscore-min.js')}"></script>
    <script src="${static.url('js/vendor/underscore.string.min.js')}"></script>
    <script src="${static.url('js/vendor/backbone-min.js')}"></script>
    <script src="${static.url('js/vendor/url.min.js')}"></script>
    <%static:js group='student_account'/>
</%block>

##<%block name="header_extras">
##</%block>

<%block name="content">
  <%include file="../navigation-bootstrap.html" />

  % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
    <script type="text/template" id="${template_name}-tpl">
      <%static:include path="student_account/${template_name}.underscore" />
    </script>
  % endfor

  <div class="section-bkg-wrapper">
    <div id="login-and-registration-container"
        class="login-register"
        data-initial-mode="${initial_mode}"
        data-third-party-auth='${third_party_auth|h}'
        data-third-party-auth-hint='${third_party_auth_hint}'
        data-next-url='${login_redirect_url|h}'
        data-platform-name='${platform_name}'
        data-login-form-desc='${login_form_desc|h}'
        data-registration-form-desc='${registration_form_desc|h}'
        data-password-reset-form-desc='${password_reset_form_desc|h}'
    />
</div>

  % if settings.FEATURES.get('ENABLE_COMBINED_LOGIN_REGISTRATION'):
    ## This overwrites the "footer" block declared in main.html with an empty block, effectively hiding the footer from logistration pages.
    <%block name="footer"/>
  % endif

	<%include file="../footer-bootstrap.html" />
</%block>


<%block name="js">
</%block>
