## mako
<%namespace name='static' file='/static_content.html'/>

##<%!
##    from django.utils.translation import ugettext as _
##    from django.core.urlresolvers import reverse
##%>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified">
          <li><a href="/"><span class="fa fa-home fa-fw"></span> Accueil</a></li>
          <li><a href="/contact"><span class="fa fa-envelope-o fa-fw"></span> Contact</a></li>
          ##<li><a href="${reverse('contact')}"><span class="fa fa-envelope-o fa-fw"></span> ${_("Contact")}</a></li>
          <li><a href="/honor">Charte</a></li>
          <li><a href="/tos">Conditions d’utilisation</a></li>
          <li><a href="/privacy">Confidentialité</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p class="text-muted text-right">Basé sur <a href="http://code.edx.org">OpenEdX</a>.</p>