<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
##  from microsite_configuration  import microsite
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from courseware.courses       import course_image_url, get_course_about_section
%>


<%block name="pagetitle">Cours francophone en ligne | MOOC Philosophie, histoire, économie</%block>

<%block name="css">
  <%include file="css-bootstrap.html" />
  ##<style type="text/css"></style>
</%block>


<%block name="content">
	<%include file="navigation-bootstrap.html" />

  <div class="container">
    <p class="featurette-heading">INARES <span class="text-muted-feat purple">Apprendre les sciences</span></p>
    <p class="lead text-justify">Cours en ligne de l'<b>In</b>stitut <b>Ar</b>istotélicien d'<b>É</b>tudes <b>S</b>cientifiques.</p>
    <p class="lead text-justify">Aristote a changé durablement l’approche des sciences avec une méthode réaliste basée sur l’observation. C'est cette démarche scientifique qui fait la force de notre enseignement.</p>
    <br /><br />
  </div> <!-- /container -->


  <div class="featurette-violet" id="presentation">
    <div class="media container">
      <div class="media-body media-middle featurette-text">
        <p class="featurette-heading"><span class="fa fa-user"></span> Présentation<br><span class="text-muted-feat gray">Cours de sciences en ligne</span></p>
        <p class="lead text-justify">
          L'INARES propose des cours en ligne dans différentes sciences, principalement la <strong>philosophie, l'histoire et l'économie</strong>.
        </p>
        <p class="lead text-justify">
          Nous allions un enseignement de <strong>qualité</strong> aux technologies et techniques <strong>modernes</strong>. Tout le monde peut ainsi profiter de ces savoirs.
        </p>
      </div>
      <div class="media-left media-middle">
        <img class="media-object img-circle" src="${static.url('themes/{name}/images/logo-inares.jpg'.format(name=settings.THEME_NAME))}" height="270px" width="270px" alt="INARES">
      </div>
    </div> <!-- /media -->
  </div> <!-- /featurette-violet -->

  <div class="featurette-transp" id="fonctionnement">
    <div class="media .featurette-transp container">
      <div class="media-left media-middle">
        <img class="media-object img-circle" src="${static.url('themes/{name}/images/outils.jpg'.format(name=settings.THEME_NAME))}" height="400px" width="400px" alt="Fonctionnement">
      </div>
      <div class="media-body media-middle featurette-text">
        <p class="featurette-heading"><span class="fa fa-cogs"></span> Fonctionnement<br><span class="text-muted-feat purple">Des cours ouverts à tous</span></p>
        <p class="lead text-justify">
          Les cours sont en français. Il sont conçus pour avoir toutes les qualités modernes des <a href="fr.wikipedia.org/wiki/Formation_en_ligne_ouverte_à_tous" id="link-mooc" data-toggle="tooltip" data-placement="top" title="Massive Open Online Course">MOOC</a> (formation en ligne ouverte à tous) et sont entièrement gratuits. Internet permet en outre à <strong>chacun de participer aux différentes formations</strong> proposées. Plus besoin de se déplacer physiquement dans un lieu donné ni de respecter des horaires parfois incompatibles avec les exigences du quotidien.
        </p>
        <p class="lead text-justify">
          Nos cours allient les derniers outils technologiques, comme la vidéos, le web 2.0, la visioconférence ou les réseaux sociaux, à des méthodes pédagogiques adaptées. L’INARES propose des cours depuis quatre ans, en mettant l’<strong>innovation au service de l’enseignement</strong>.
        </p>
      </div>
    </div> <!-- /media -->
  </div> <!-- /featurette-transp -->

  <div class="featurette-violet" id="pedagogie">
    <div class="media container">
      <div class="media-body media-middle featurette-text">
        <p class="featurette-heading"><span class="fa fa-wrench"></span> Pédagogie<br><span class="text-muted-feat gray">Faciliter l'apprentissage</span></p>
        <p class="lead text-justify">
          Les cours sont <strong>centrés sur l’apprenant</strong> et non sur l’enseignant. Nous utilisons les meilleurs outils et méthodes pour susciter l’<strong>envie d’apprendre</strong>.
        </p>
        <p class="lead text-justify">
          Ainsi, sans négliger le <strong>suivi pédagogique</strong> des élèves, l’INARES <strong>adapte son enseignement</strong> à cette forme précise de transmission de savoir que sont les MOOCs.
        </p>
      </div>
      <div class="media-left media-middle">
        <img class="media-object img-circle" src="${static.url('themes/{name}/images/platon_aristote.jpg'.format(name=settings.THEME_NAME))}" height="400px" width="400px" alt="Pédagogie">
      </div>
    </div> <!-- /media -->
  </div> <!-- /featurette-violet -->


##<style type="text/css">
##</style>


  <div class="featurette-transp">
    <div class="container" id="cours">
      <div class="featurette">
        <p class="featurette-heading"><span class="fa fa-graduation-cap"></span> Cours</p>
        <br />
          ##% if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <div class="row">
              %for course in courses:
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="${course.id.to_deprecated_string()}">
                  <div class="thumb" style="background-image: url(${course_image_url(course)}); background-repeat: no-repeat; background-size: cover;">
                    <div class="thumb-overlay">
                      <div class="thumb-bg"></div>
                      <div class="thumb-txt">
                        <thumb-title>${get_course_about_section(course, 'title')}</thumb-title>
                        <thumb-infos>
                          ## %if course.is_newish:
                          ##   <!-- <p>Nouveau cours</p> -->
                          ## %endif
                          ## % if not course.start_date_is_still_default:
                          ##   <p>${course.start_datetime_text()}</p>
                          ## % endif
                          ${get_course_about_section(course, 'short_description')}<br>
                          <a class="btn btn-default" href="${reverse('about_course', args=[course.id.to_deprecated_string()])}"><span class="fa fa-info"></span>&nbsp;&nbsp;En savoir plus</a>
                        </thumb-infos>
                      </div> <!-- /thumb-text -->
                    </div> <!-- /thumb-overlay -->
                  </div> <!-- /thumb -->
                </div> <!-- /col -->
              %endfor
            </div> <!-- /row -->
          ##% endif
      </div> <!-- /featurette -->
    </div> <!-- /container -->
  </div> <!-- /featurette-transp -->

##
##  <script type="text/javascript">
##    $('#link-mooc').tooltip();
##
##    $('.thumbnail').hover(
##      function(){
##        $(this).find('.th-caption').slideDown(250); //.fadeIn(250)
##      },
##      function(){
##        $(this).find('.th-caption').slideUp(250); //.fadeOut(205)
##      }
##    );
##  </script>
##
	<%include file="footer-bootstrap.html" />
</%block>



<%block name="js">
</%block>

<%block name="js_extra">
</%block>

##% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
##<script type="text/javascript">
##  $(window).load(function() {$('#signup_action').trigger("click");});
##</script>
##% endif