<%! 
from django.utils.translation import ugettext as _ 
from django.core.urlresolvers import reverse
%>

<header>
  <h2 class="sr">${_("Helpful Information")}</h2>
</header>

% if settings.FEATURES.get('AUTH_USE_OPENID'):
<!-- <div class="cta cta-login-options-openid">
  <h3>${_("Login via OpenID")}</h3>
  <p>${_('You can now start learning with {platform_name} by logging in with your <a rel="external" href="http://openid.net/">OpenID account</a>.').format(platform_name=platform_name)}</p>
  <a class="action action-login-openid" href="#">${_("Login via OpenID")}</a>
</div> -->
% endif

<div class="cta cta-help">
  <h3>${_("Not Enrolled?")}</h3>
  <p><a href="${reverse('register_user')}">Inscrivez-vous dès maintenant &#224; l&#39;${_("{platform_name}").format(platform_name=platform_name)} !</a></p>

  ## Disable help unless the FAQ marketing link is enabled
  % if settings.MKTG_URL_LINK_MAP.get('FAQ'):
    <h3>${_("Need Help?")}</h3>
    <p>${_("Looking for help in logging in or with your {platform_name} account?").format(platform_name=platform_name)}
    <a href="${marketing_link('FAQ')}">
        ${_("View our help section for answers to commonly asked questions.")}
    </a></p>
  % endif
</div>