<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

<div class="cta">
  <h3>${_("Already registered?")}</h3>
  <p class="instructions">
    <a href="${reverse('signin_user')}${login_query()}">
      ${_("Click here to log in.")}
    </a>
  </p>
</div>

% endif

## TODO: Use a %block tag or something to allow themes to
##       override in a more generalizable fashion.
% if not stanford_theme_enabled():
  <div class="cta cta-welcome">
    <h3>Bienvenue &agrave; l&acute;${_("{platform_name}").format(platform_name=platform_name)}</h3>
    <p>L&acute;inscription &agrave; l&acute;${_("{platform_name}").format(platform_name=platform_name)} vous donne acc&egrave;s &agrave; tous nos cours gratuits actuels et futurs. Vous n&acute;êtes pas prêt &agrave; suivre un cours pour l&acute;instant ? L&acute;inscription vous ajoute &agrave; notre liste de diffusion - nous vous tiendrons au courant d&egrave;s que des cours sont ajout&eacute;s.</p>
  </div>
% endif

<div class="cta cta-nextsteps">
  <h3>${_("Next Steps")}</h3>
  % if stanford_theme_enabled():
    <p>${_("You will receive an activation email.  You must click on the activation link to complete the process.  Don't see the email?  Check your spam folder and mark emails from class.stanford.edu as 'not spam', since you'll want to be able to receive email from your courses.")}</p>
  % else:
    <p>En rejoignant l&acute;${_("{platform_name}").format(platform_name=platform_name)}, vous recevrez un mail d&acute;activation. Vous devrez cliquer sur le lien d&acute;activation pour compl&eacute;ter l&acute;inscription. Vous ne voyez pas le mail ? V&eacute;rifiez votre dossier de spam et marquez les mails provenant de l&acute;${_("{platform_name}").format(platform_name=platform_name)} comme n&acute;&eacute;tant pas du spam. &Agrave; l&acute;${_("{platform_name}").format(platform_name=platform_name)}, nous communiquons essentiellement par mail.</p>
  % endif
</div>

% if settings.MKTG_URL_LINK_MAP.get('FAQ'):
  <div class="cta cta-help">
    <h3>${_("Need Help?")}</h3>
    <p>Besoin d&acute;aide pour vous inscrire &agrave; l&acute;${_("{platform_name}").format(platform_name=platform_name)} ?
      <a href="${marketing_link('FAQ')}">
          ${_("View our FAQs for answers to commonly asked questions.")}
      </a>
      ${_("Once registered, most questions can be answered in the course specific discussion forums or through the FAQs.")}</p>
  </div>
% endif