## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><span class="fa fa-home"></span> Accueil</a></li>
          <li><a href="${reverse('contact')}"><span class="fa fa-envelope-o fa-fw"></span> Contact</a></li>
          <!-- <li><a href="#">Conditions d'utilisation</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
          <li><a href="#">Charte</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<p class="text-muted text-right">Basé sur <a href="http://code.edx.org">OpenEdX</a>.</p>
