## mako
<%namespace name='static' file='/static_content.html'/>

##<%!
##    from django.utils.translation import ugettext as _
##    from django.core.urlresolvers import reverse
##%>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="/"><span class="fa fa-home fa-fw"></span> Accueil</a></li>
          <li><a href="/contact"><span class="fa fa-envelope-o fa-fw"></span> Contact</a></li>
          <li><a href="/honor">Charte utilisateurs</a></li>
          <li><a href="/tos">Conditions d’utilisation</a></li>
          <li><a href="/privacy">Politique de confidentialité</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Basé sur <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>
